h1{
    position: relative;
    top:50px;
	text-align: center;
	font-size: 5rem;
	text-decoration: none;
	font-family: "Comic Sans MS", cursive, sans-serif

}
h2 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: 300;
	font-size: 1.7rem;
	margin: 30px;
	cursor: pointer;
	display: inline;
}
nav{
    position: relative;
    top:100px;
	text-align: center;
    padding-top: 10px;
    border-radius: 15px;
	margin:auto;
    background:rgba(100,100,100,0.6);
    width:600px;
    height:60px;
}
a{
	text-decoration: none;
}
a:link {
	color: #21add0;
}
a:visited{
	color: #21add0;
}
a:hover{
	color:pink; 
}
a:active{
	color: #21add0;
}