h1{
	text-align: center;
	font-size: 5rem;
	text-decoration: none;
	font-family: "Comic Sans MS", cursive, sans-serif

}
h2 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: 300;
	font-size: 1.7rem;
	margin: 30px;
	cursor: pointer;
	display: inline;
}
nav{
	text-align: center;
	display: inline-block;
	float: none;
	vertical-align: top;
	margin:auto;
    border:1px solid grey;
    font-size:16px;
    width:600px;
    height:40px;
    line-height:30px;
}
a{
	text-align: center;
	background-color: transparent;
	text-decoration: none;
}
a:link {
	color: #21add0;
}
a:visited{
	color: #21add0;
}
a:hover{
	color:pink; 
}
a:active{
	color: #21add0;
}