/*Heads*/
h1{
    position: relative;
    top:50px;
	text-align: center;
	font-size: 5rem;
	text-decoration: none;
	font-family: "Comic Sans MS", cursive, sans-serif

}
h2 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: 300;
	font-size: 1.7rem;
	margin: 30px;
	cursor: pointer;
	display: inline;
}
/*Tabs*/
.tab-container {
    position: relative;
    color:black;
    top:100px;
	width: 100%;
	max-width: 60rem;
	margin: 1rem auto;
	font-family: "Montserrat", "Helvetica Neue";
    background:white;
    border-radius: 15px;

}
.tab {
    display: none;
	text-align: center;
	padding: 50px;
	min-height: 100px;
	background: rgba(200,200,200,0.6);
	font-family: "Helvetica Neue", sans-serif;
    border-radius: 15px;
	font-weight: 300;
	font-size: 1.5rem;
}
#about-div {
	display: none;
}

#projects-div {
	display: none;
}

#talks-div {
	display: none;
}

#contact-div {
	display: none;
}
.divide{
    padding-top: 10px;
	height: 20px;
}
hr {
	width: 100%;
	border: 0;
	height: 1px;
	background-color:cornflowerblue
}

/*Navs*/
.nav-container{
    position: relative;
    top:100px;
	text-align: center;
    padding-top: 10px;
    border-radius: 15px;
	margin:auto;
/*    background:rgba(100,100,100,0.6);*/
    width:600px;
    height:60px;
}
a{
	text-decoration: none;
    color: #21add0;
    
}
a:link {
	color: #21add0;
}
a:visited{
	color: #21add0;
}
a:hover{
	color:pink; 
}
a:active{
	color: #21add0;
}
/*Contact*/
.contact {
    margin: 30px 0px;
}
.fa {
	margin: 0 30px;
	color: #444444;
    max-width: 90px;
	max-height: 60px;
}

.fa:hover {
	color: #111111;
}

